@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 89px 112px 0 112px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  background: var(--Dark-Space-Blue, #00001a);
  display: none;
}

ul {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.closeBtn {
  all: unset;
  cursor: pointer;
  display: none;
}

.burgerBtn {
  all: unset;
  cursor: pointer;
  display: none;
}

ul li a {
  color: var(--Gunmetal, #5e607a);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  transition: 0.3s ease;
}

ul li a:hover {
  color: var(--Light-Vermillion, #f15d51);
}

main {
  margin-top: 55px;
  margin-bottom: 127px;
  padding: 0 112px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 71px;
  column-gap: 30px;
}

.webSection {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.webSection img {
  width: 100%;
  height: 100%;
}

.webText {
  margin-top: 28px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.webText h2 {
  color: var(--Dark-Space-Blue, #00001a);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 56px;
}

.webParagraph-Btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 29px;
}

.webParagraph-Btn p {
  width: 350px;
  color: var(--Gunmetal, #5e607a);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

.webParagraph-Btn button {
  color: var(--Almost-White, #fffdfa);
  font-family: "Inter", sans-serif;
  background-color: var(--Light-Vermillion, #f15d51);
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 4.375px;
  padding: 13px 35px 11px 31px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

.webParagraph-Btn button:hover {
  background-color: var(--Dark-Space-Blue, #00001a);
}

.newSection {
  padding: 32px 24px;
  background-color: var(--Dark-Space-Blue, #00001a);
}

.newSection h3 {
  color: var(--Yellow, #e9aa52);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.newTexts {
  display: flex;
  flex-direction: column;
  row-gap: 61px;
  margin-top: 34px;
}

.newTextItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.AI::before {
  content: "";
  position: absolute;
  top: -31px;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background-color: #5e607a;
}

.AI:after {
  content: "";
  position: absolute;
  bottom: -29px;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background-color: #5e607a;
}

.newTextItem a {
  color: var(--Almost-White, #fffdfa);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  transition: 0.3s ease;
  cursor: pointer;
}

.newSection a:hover {
  color: var(--Yellow, #e9aa52);
}

.newTextItem p {
  color: var(--Silver, #c5c6ce);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.postsSection {
  grid-column: 1/-1;
  display: flex;
  column-gap: 30px;
}

.post {
  display: flex;
  align-items: center;
  gap: 24px;
}

.post > img {
  width: 100px;
  height: 100%;
}

.postTexts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.postTexts img {
  width: 44px;
  height: 32px;
}

.postTexts h4 {
  margin-top: 12px;
  color: var(--Dark-Space-Blue, #00001a);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}
.postTexts p {
  margin-top: 9px;
  color: var(--Gunmetal, #5e607a);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 1300px) {
  main {
    padding: 0 80px;
  }
}

@media screen and (max-width: 1153px) {
  main {
    padding: 0 39px;
  }
  .webText h2 {
    font-size: 42px;
  }
}

@media screen and (max-width: 1000px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }

  .newSection {
    grid-column: 1/3;
  }

  .postsSection {
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 32px;
    justify-content: center;
  }

  .post {
    flex-direction: column;
  }

  .postTexts {
    align-items: center;
  }
}

@media screen and (max-width: 990px) {
  .burgerBtn {
    display: block;
  }

  .overlayActive {
    display: block;
  }

  ul {
    position: fixed;
    right: -100%;
    top: 0;
    row-gap: 24px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 24px 0 29px;
    background-color: #fffdfa;
    width: 70%;
    transition: 0.3s ease;
    z-index: 10;
  }

  .activeUl {
    right: 0;
  }

  .closeBtn {
    position: absolute;
    right: 20px;
    top: 27px;
    display: block;
  }

  ul li a {
    width: 100%;
    font-size: 18px;
    color: var(--Dark-Space-Blue, #00001a);
  }

  ul li a:hover {
    color: inherit;
  }
}

@media screen and (max-width: 690px) {
  .webText {
    flex-direction: column;
  }

  .webParagraph-Btn p {
    width: 100%;
  }

  .postsSection {
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 32px;
    justify-content: left;
  }

  .post {
    flex-direction: row;
  }

  .postTexts {
    align-items: flex-start;
  }

  header {
    padding: 28px 18px 0 18px;
  }
  main {
    padding: 28px 18px 0 18px;
  }
}

@media screen and (max-width: 375px) {
  .post {
    column-gap: 10px;
  }
}
